// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$pink: #f66d9b;
$orange: #f6993f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #343a40;
$lotus-blue: #00b5cc;
$lotus-dark: #575563;
$lotus-grey: #8B8A96;

$green: #80B550;
$green_dark: #71AA3D;
$green_light: #DEE4D6;
$yellow: #FEF76A;
$yellow_dark: #F6DF31;
$red: #EB5757;
$black: #373C42;
$gray_dark: #6D6D6D;
$gray: #A8A8A8;
$gray_light: #E5E5E5;
$gray_lighter: #F6F6F6;
$gray_lightist: #FBFCF9;
$gray_the_lightist: #fCfCfC;
$purple: #BB86FC;
