/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27.04.2020, 16:37:09
    Author     : Grozniy
*/

body {
    background-color: $white!important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-lotus {
    color: $lotus-blue!important;
}

.bg-lotus-blue {
    background-color: $lotus-blue!important;
}

.bg-lotus-dark {
    background-color: $lotus-dark!important;
}

.bg-lotus-grey {
    background-color: $lotus-grey!important;
}

.btn-lotus {
    color: #FFF;
    background-color: $lotus-blue;
    border-color: $lotus-blue;
    &:hover {
        color: #FFF;
        background-color: #00A0B5;
        border-color: #00A0B5;
    }
}

.border-lotus {
    border-color: $lotus-blue!important;
}

.shadow {
    &-inner {
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.08);
    }
}

.header-primary {
    height: 97px;
    padding: 12px 0 10px;
    
    &__logo {}
    
    &__link {
        a {
            margin-right: 20px;
            color: $dark;
            font-size: 14px;
            text-decoration: underline;
            -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
        }
    }
    
    &__cart {
        .icon-svg {
            margin-right: 20px;
            font-size: 30px;
            color: $dark;
        }
        a {
            display: block;
            position: relative;
            font-size: 120%;
            color: $dark;
            
            span {
                color: $lotus-blue;
                border-bottom: 1px solid transparent;
                transition: 0.15s;
            }
        }
        a:hover {
            color: $dark;
            
            span {
                border-color: currentColor;
            }
        }
    }
    &__cartCount {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: $white !important;
        border: 2px solid #31B0E4;
        border-radius: 50%;
        top: -5px;
        left: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #767676;
    }
    &__bottom {
        margin-top: 12px;
        
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-decoration: none;
            
            li {
                padding: 0;
                margin: 0;
                margin-right: 50px;
                text-transform: uppercase;
            }
        }
    }
}

.header-second {
    height: 80px;
    &__category {
        width: 180px;
        min-width: 180px;
        .nav-link {
            height: 80px;
            background-color: $lotus-grey !important;
        }
        .dropdown-menu {
            background-color: $lotus-grey !important;
            :hover {
                background-color: $lotus-dark !important;
            }
            .dropdown-item {
                height: 60px;
                border-top: 1px solid #747380;
                color: $white;
                padding: 0.25rem 1rem;
            }
        }
    }
    &__search {
        width: calc(100% - 380px);
    }
}

.filter-column {
    background-color: #f2f2f2;
    
    .filter {
        &-title {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            color: #767676;
        }
        &-item {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            color: #767676;
        }
    }
}

.page-index{
    &__slogan {
        h1 {
            font-size: 36px;
            @media only screen and (min-width: 769px) and (max-width: 991px) {
                font-size: 30px;
            }
            @media only screen and (min-width: 577px)  and (max-width: 768px) {
                font-size: 24px;
            }
            @media only screen and (max-width: 576px) {
                font-size: 18px;
            }
        }
    }
    
    &__motto {
        .motto {
            &-image {
                @media only screen and (max-width: 768px) {
                    order: -1;
                    overflow-x: hidden;
                }
            }
            &-title {
                font-size: 30px;
                padding-left: 40px;
                padding-right: 40px;
                @media only screen and (min-width: 769px) and (max-width: 991px) {
                    font-size: 26px;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 22px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            &-text {
                padding-left: 80px;
                padding-right: 80px;
                @media only screen and (max-width: 768px) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
            &-sign {
                font-style: italic;
                padding-left: 80px;
                padding-right: 80px;
                @media only screen and (max-width: 768px) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    }
}

.categoryList {
    &__item {
        .categoryList__name a {
            font-style: normal;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #767676 !important;
        }
        
        .categoryList__parameters {
            font-style: normal;
            font-size: 13px;
        }
        
        .categoryList__price {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

.product {
    .product{
        &-image {
            border: 1px solid #f5f5f5;
        }

        &-code {
            font-size: 14px;
            color: #767676 !important;
        }
        &-price {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            color: #767676 !important;
        }
        &-info {
            &__Item {
                font-size: 14px;
                color: #767676 !important;
                span {
                    font-weight: 600;
                }
            }
        }
        &-count__Item {
            display: flex!important;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            align-items: center!important;
            justify-content: center!important;
            font-weight: 600!important;
        }
        &-support {
            background-color: #f2f2f2;
            &__Left {
                width: calc(100% - 60px);
                margin-right: 1rem !important;
            }
            &__Right {
                width: 60px;
            }
            &__Title {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 26px;
            }
            &__Text {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
}

.footer{
    &-primary {
        padding-top: 20px;
        padding-bottom: 20px;
        &__logo {
            width: 272px;
            @media only screen and (max-width: 991px) {
                width: 60px;
                overflow-x: hidden;
            }
        }
    }
    &-second {
        padding-top: 20px;
        padding-bottom: 20px;
        &__title {
            font-weight: 500;
            font-size: 22px;
            color: $light !important;
        }
    }
}

.noUi{
    &-target {
        background: #ff0000;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }

    &-connect {
        background: #767676 !important;
    }
    
    &-tooltip {
        border: none;
        background-color: transparent;
        padding: 0px;
        color: #767676;
    }

    &-horizontal {
        height: 1px;
        
        .noUi-tooltip {
            bottom: 90%;
            font-size: 0.7rem;
        }
    
        .noUi-handle {
            width: 11px;
            height: 11px;
            right: -5px;
            top: -5px;
            border: 1px solid #00b5cc;
            border-radius: 50%;
            background-color: #00b5cc;
            cursor: pointer;
            box-shadow: none;
            
            &:before, &:after {
                content: "";
                display: none;
                position: absolute;
                height: 0px;
                width: 0px;
                background: #E8E7E6;
                left: 0px;
                top: 0px;
            }
            
            &:after {
                left: 0px;
            }
        }
    }
}

.pagination {
    margin-bottom: 0rem;
}