html,
body {
    color: $black;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

a:active,
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
}

address {
    margin-bottom: 0rem;
    font-style: normal;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span,
table,
th,
td {
    border: 0;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
}

a,
a:active,
a:hover,
a:focus{
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: $lotus-blue;
    border-bottom: 1px solid transparent;
    transition: 0.15s;
}

.icon-svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.btn {
    cursor: pointer;
    padding: 0 30px;
    height: 40px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    line-height: normal;
    border: 1px solid transparent;
    transition: 0.15s;

    .icon-svg {
        margin-top: 0;
        transition: 0s;
        font-size: 22px;
    }

    &.-wide {
        width: 100%;
        padding: 0;
    }

    &.-yellow {
        background-color: $yellow;
        color: $black;
    }

    &.-small {
        height: 32px;

        .icon-svg {
            font-size: 18px;
        }
    }

    &.-border {
        border-color: $gray;
        color: $gray_dark;
        background-color: #fff;

        &.-white {
            background-color: transparent;
            color: #ffffff;

            .icon-svg {
                color: #ffffff;
            }
        }

        &.-green {
            border-color: $green;
            color: $green;

            .ink {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        &.-yellow {
            border-color: $yellow;
            color: $yellow;
            background-color: transparent;

            .ink {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        .ink {
            background-color: rgba(168, 168, 168, 0.5);
        }

        .icon-svg {
            color: $green;
        }
    }

    &:disabled {
        border-color: $gray_light;
        background-color: #fff !important;
        color: $gray !important;
    }

    .text-active {
        display: none;
    }

    &.active {

        .text {
            display: none;
        }

        .text-active {
            display: inline;
        }
    }
}
.btn-sm {
    padding: 0 15px;
    height: 20px;
    border-radius: 10px;
    font-size: 0.7875rem;
    line-height: 1.5;
}

.open-menu {
    display: none;
}

.no-list {
    margin: 0;

    li {
        padding: 0;
        margin: 0;

        &:before {
            content: none;
        }
    }
}

/*Поля формы*/

.input-field {
    position: relative;
    margin-bottom: 24px;

    .label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}

.input {
    position: relative;
}

.form-control {
    width: 100%;
    border: 1px solid $gray;
    height: 40px;
    line-height: normal !important;
    box-shadow: none;
    padding: 0 25px 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    color: $gray_dark;
    font-size: 14px;
    border-radius: 20px;
    -webkit-appearance: none;

    &:focus,
    &.filled {
        border-color: $lotus-blue;
        box-shadow: none;
    }

    &:disabled {}
    
    &-sm {
        height: 30px;
        font-size: 12px;
        border-radius: 15px;
    }
}

input[type="search"] {
    box-shadow: none;
    line-height: normal !important;
    transition: 0.3s;
    -webkit-appearance: none;
}
/*Поля формы*/

/*Табы*/

[data-tabs-content] {
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.tab-content {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    width: 100%;

    &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
    }
}

/*Табы*/

/* Select2 */

.select-wrap {
    display: flex;
    align-items: center;

    .label {
        margin-right: 8px;
        white-space: nowrap;
    }

    .select2 {
        min-width: 240px;
    }
}

select {
    display: none;

    &:required {

        &~.select2 {

            &.select2-container--default {

                .select2-selection--single {

                    .select2-selection__arrow {
                        right: 24px;
                    }
                }
            }
        }
    }

    &.error {

        &~.select2 {

            &.select2-container {

                .select2-selection--single {
                    border-color: $red;
                }
            }
        }
    }
}

.select2 {
    font-size: 14px;

    &.select2-container {

        .select2-selection--single {
            height: 40px;
            border: 1px solid #A8A8A8;
            border-radius: 20px !important;

            &:focus {
                outline: none;
            }
        }
    }

    &.select2-container--default {

        .select2-selection--single {

            .select2-selection__placeholder {
                color: #6D6D6D;
            }

            .select2-selection__rendered {
                line-height: 38px;
                padding-left: 20px;
            }

            .select2-selection__arrow {
                height: 100%;
                width: 16px;
                right: 12px;
                display: flex;
                align-items: center;
                justify-content: center;

                b {
                    display: none;
                }

                svg {
                    width: 8px;
                    height: 16px;
                    transform: rotate(-90deg);
                    fill: #505050;
                    transition: 0.3s;
                }
            }
        }
    }

    &.select2-container--open {

        .select2-selection--single {
            border-color: $lotus-blue;
            border-radius: 20px 20px 0 0 !important;
            border-bottom-color: transparent;
            transition: 0.3s;

            .select2-selection__arrow {

                svg {
                    transform: rotate(-270deg);
                }
            }
        }

        &.select2-container--above {

            .select2-selection--single {
                border-radius: 0 0 20px 20px !important;
                border-bottom: 1px solid $lotus-blue;
                border-top-color: transparent;
            }
        }
    }
}

.select2-container {
    font-size: 14px;

    .select2-dropdown {
        border: 1px solid $lotus-blue !important;
        border-top: 0 !important;
        margin-top: -1px;
        border-radius: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        border-radius: 0 0 20px 20px;
        overflow: hidden;

        &.select2-dropdown--above {
            border-radius: 20px 20px 0 0;
            border-bottom: 0 !important;
            border-top: 1px solid $lotus-blue !important;
            margin-top: 1px;
        }

        &.animate {
            opacity: 1;
            visibility: visible;
        }
    }

    .select2-results__option {
        padding: 6px 6px 6px 20px;
        margin-bottom: 0;
        color: #6D6D6D;

        &:before {
            content: none;
        }
    }

    .select2-search--dropdown {
        padding: 5px;
    }

    &.select2-container--default {

        .select2-results__option--highlighted[aria-selected] {
            background-color: $lotus-blue;
            font-weight: bold;
        }
    }
}

/* Select2 */

/*Попапы*/

.pop_wrap {
    display: block !important;
}

.fancybox-inner {
    cursor: pointer;
}

.fancybox-slide {

    &:before {
        margin-right: 0 !important;
    }
}

.fancybox-is-open {

    .fancybox-bg {
        opacity: 0.6 !important;
    }
}

.fancybox-bg {}

.fancybox-slide--current {

    .pop {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

.fancybox-content {
    background: transparent !important;
    padding: 0 !important;
}

.pop {
    overflow: visible !important;
    display: none;
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 350px !important;
    padding: 30px 40px 40px !important;
    background-color: #fff !important;
    transform: scale(0.8);
    transition: 0.3s;

    .link {
        border-style: dashed;

        &:hover {
            border-color: currentColor;
        }
    }

    .icon {
        width: 56px;
        height: 56px;
        margin: 0 auto 16px;

        img {
            max-height: 100%;
        }
    }
}

.title-form {
    margin-bottom: 35px;

    .h4 {
        text-transform: none;
        margin: 0;
        color: $black;
        font-weight: normal;
    }
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
        border-style: dashed;

        &:hover {
            border-color: currentColor;
        }
    }

    .btn {
        margin-top: 0 !important;
    }
}

.pop-bottom {
    border-top: 1px solid $gray_light;
    padding-top: 22px;
    margin-top: 30px;

    .btn {
        margin-top: 15px;
    }
}

.fancybox-close-small {
    right: 15px !important;
    top: 15px !important;
    width: 28px !important;
    height: 28px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    color: $gray !important;
    border: 1px solid $gray !important;
    border-radius: 50% !important;
    transition: 0.15s;

    &:hover {
        color: $lotus-blue !important;
        border-color: $lotus-blue !important;
    }
}

.fancybox-close-small svg {
    opacity: 1 !important;
    width: 14px !important;
    height: 14px !important;
}

body {

    &.compensate-for-scrollbar {
        margin-right: var(--scrollbar) !important;

        .compensate-for-scrollbar {
            margin-right: var(--scrollbar) !important;
        }
    }
}

.fancybox-active {
    overflow: hidden;
}
/*Попапы*/

/*Ошибки*/

.error {
    border-color: $red !important;

    &~.error-msg {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

.error-msg {
    color: $red;
    font-size: 11px;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 21px;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

/*Ошибки*/
