/*Tablet landscape */
@media screen and (max-width: 1199px) {
    .open-menu {
        height: auto;
        cursor: pointer;
        color: inherit;
        text-transform: none;
        background: none;
        border: 0;
        margin: 0 0 0 -8px;
        overflow: visible;
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        margin-right: 10px;
        z-index: 110;

        &:hover {
            opacity: 1;
        }

        .open-menu-inner {
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

            &:before {
                -webkit-transition: top 0.2s 0.24s ease, opacity 0.2s ease;
                transition: top 0.2s 0.24s ease, opacity 0.2s ease
            }

            &:after {
                -webkit-transition: bottom 0.2s 0.24s ease, -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                transition: bottom 0.2s 0.24s ease, -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                transition: bottom 0.2s 0.24s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
                transition: bottom 0.2s 0.24s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19)
            }
        }

        &.active {

            .open-menu-inner {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition-delay: 0.24s;
                transition-delay: 0.24s;
                -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

                &:before {
                    top: 0;
                    opacity: 0;
                    -webkit-transition: top 0.2s ease, opacity 0.2s 0.24s ease;
                    transition: top 0.2s ease, opacity 0.2s 0.24s ease;
                }

                &:after {
                    bottom: 0;
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                    -webkit-transition: bottom 0.2s ease, -webkit-transform 0.2s 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: bottom 0.2s ease, -webkit-transform 0.2s 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: bottom 0.2s ease, transform 0.2s 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: bottom 0.2s ease, transform 0.2s 0.24s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.2s 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                }

            }
        }
    }
    
    .open-menu-box {
        width: 24px;
        height: 20px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .open-menu-inner {
        display: block;
        top: 50%;
        margin-top: -1px;
    }

    .open-menu-inner,
    .open-menu-inner:before,
    .open-menu-inner:after {
        width: 100%;
        height: 2px;
        background-color: $black;
        border-radius: 1px;
        position: absolute;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease
    }

    .open-menu-inner:before,
    .open-menu-inner:after {
        content: "";
        display: block
    }

    .open-menu-inner:before {
        top: -8px
    }

    .open-menu-inner:after {
        bottom: -8px
    }
    
    .header {
        height: 68px;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-bottom: 1px solid $gray_light;

        .header-primary {
            height: 68px;
        }
        
        .header-primary__logo {
            width: 60px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            overflow-x: hidden;
            padding: 0;
            z-index: 99
        }

        .form-search {
            position: static;

            &.active {

                form {
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                }
            }

            .link-search {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                font-size: 20px;

                .icon-svg {
                    margin-top: 0;
                }
            }

            form {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;
                width: 100%;
                padding: 0 40px 0 40px;
                height: 40px;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                z-index: 110;
            }

            .form-control {
                padding-left: 40px;
                border-radius: 0;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-color: #c4c4c4;
            }

            button {
                right: auto;
                left: 0;
                font-size: 20px;
            }

            .link-close {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 18px;
                color: $black;

                .icon-svg {
                    margin-top: 0;
                }
            }
        }
    }
    
    .header-primary__top {
        .row {
            &>div {
                position: static;
            }
        }
    }
    
    .header-top,
    .header-primary__bottom {
        display: none;
    }

    .breadcrumbs {

        ul {
            padding-top: 0;
            padding-top: 8px;
            border: 0;
        }
    }
    
    .card-item {

        .card-descr-table {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $gray_light;
        }
    }

    .card-tabs-wrap {
        padding-top: 0;
        border-top: 0;
        margin-top: 45px;
    }

    .tabs-card {
        font-size: 14px;
        margin-bottom: 24px;

        li {

            a {
                height: 50px;
                padding: 0 17px;

                &:before {
                    height: 3px;
                }
            }
        }
    }

    .tabs-card-content-wrap {

        .card-description {
            padding: 0;
            max-height: 300px;
        }

        .review-items {
            padding: 0 40px;
        }
    }
    
    /* Адаптивное меню */

    .fancybox-menu {

        .fancybox-slide {
            padding: 68px 0 0 !important;
        }
    }

    /* Адаптивное меню */
}

/*Smartphone*/
@media screen and (max-width: 600px) {
    body {
        min-width: 360px;
    }
    
    h1,
    .h1 {
        font-size: 28px;
    }

    h2,
    .h2 {
        font-size: 25px;
    }

    h3,
    .h3 {
        font-size: 22px;
    }

    h4,
    .h4 {
        font-size: 19px;
    }

    h5,
    .h5 {
        font-size: 17px;
    }

    h6,
    .h6 {
        font-size: 15px;
    }
    
    .header {
        .form-search {
            form {
                padding: 0 10px 0 10px;
            }
        }
    }
    
    .header-primary__cart {
        font-size: 0;
    }
    
    .breadcrumbs {
        display: none;
    }
    
    .card-tabs-wrap {
        margin-top: 20px;

        &>.tabs-card {
            display: none;
        }
    }

    .card-tabs-carousel-wrap {

        .swiper-wrap {
            padding: 0 10px;
        }
    }

    .card-swiper-wrap {

        .swiper-buttons {

            .swiper-button-prev {
                left: -10px;
            }

            .swiper-button-next {
                right: -10px;
            }
        }
    }

    .tabs-card-content-wrap {
        border-top: 1px solid $gray_light;

        .card-description {
            padding: 0 10px;
            max-height: none;

            &:before {
                content: none;
            }

            .link-show-more {
                display: none;
            }
        }

        &>.row {

            &>div {

                &>.tabs-card-content {

                    &>.tab-content {
                        position: relative;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .accordion-item {
            display: block;

            &.opened {

                &>.visible {

                    &>a {
                        color: $lotus-blue;
                        transition: color 0.15s;
                    }
                }
            }

            &>.visible {
                display: block;

                a {
                    height: 50px;
                    background-color: $gray_lighter;
                    border-bottom: 1px solid $gray_light;
                    padding-left: 10px;
                    padding-right: 20px;

                    &:active {
                        background-color: $gray_light;
                    }
                }
            }

            &>.hidden {
                display: none;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        .review-items {
            padding: 0 10px;
        }
    }
}
