/*Шапка сайта*/

.header {
    position: relative;

    &+section {
        padding-top: 0;
    }
}

.header-top {
    background-color: $lotus-dark;
    color: #fff;
    font-size: 13px;
    height: 40px;

    .container,
    .row {
        height: 100%;
    }

    a {
        color: #ffffff;
    }

    .icon-svg {
        font-size: 16px;
    }
}

.header-city {
    display: inline-flex;
    align-items: center;
    margin-right: -30px;

    .icon-svg {
        margin-top: 0;
        margin-right: 4px;
    }

    .link-city {
        font-weight: bold;
        color: #ffffff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px;
        margin-left: 4px;
        line-height: 1.1;
        margin-top: 2px;
        border-style: dashed;
        border-color: currentColor;

        &:hover {
            border-color: transparent;
        }
    }
}

.header-contacts {
    display: flex;
    align-items: center;

    .header-phone {
        margin-left: 40px;
        
        a:hover {
            text-decoration: none;
        }
    }
    
    .open-time {
        margin-left: 40px;
    }

    .link {

        span {
            border-bottom: 1px dashed transparent;
            transition: 0.15s;
        }

        &:hover {

            span {
                border-color: currentColor;
            }
        }
    }
}

.header-auth {
    text-align: right;

    a {
        border-style: dashed;

        span {
            border-bottom: 1px dashed transparent;
            transition: 0.15s;
        }

        &:hover {
            text-decoration: none;

            span {
                border-color: currentColor;
            }
        }
    }
}

.form-search {
    position: relative;
    max-width: 400px;

    .input-field {
        margin-bottom: 0;
    }

    .form-control {
        padding-right: 35px;
    }

    .input {

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 100%;
            border: 0;
            background-color: transparent;
            padding: 0;
            color: $lotus-blue;

            .icon-svg {
                margin-top: 0;
            }
        }
    }

    .link-search,
    .link-close {
        display: none;
    }

    &.visible {

        .form-search-results {
            opacity: 1;
            visibility: visible;
        }
    }
}

.btn-clear {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        color: $lotus-blue;
    }

    .icon-svg {
        margin-top: 0;
        font-size: 14px;
    }
}

.header-phone-mobile {
    display: none;
}

@media screen and (max-width: 700px) {

    .header-phone-mobile {
        display: none !important;
    }

}

/*Шапка сайта*/

/* Специальные предложения */

.category-item {
    .link-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 2px solid $lotus-blue;
        border-radius: 22px;
        text-align: center;
        font-size: 24px;
        color: $lotus-blue;
        cursor: pointer;
        padding: 0;

        .icon-svg {
            margin-top: 0;
            transition: 0s;
        }

        &:hover {
            background-color: $lotus-blue;
            color: #ffffff;
        }
    }
}

/* Специальные предложения */

/* Адаптивное меню */

.fancybox-menu {

    .fancybox-slide {
        padding: 137px 0 0 !important;
    }

    .fancybox-bg {
        background-color: #fff;
    }

    &.fancybox-is-open {

        .fancybox-bg {
            opacity: 1 !important;
        }
    }

    .fancybox-slide--current {

        .pop-menu {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    .header {
        z-index: 99999;
    }
}

.pop-menu {
    display: none;
    cursor: auto;
    width: 100%;
    height: 100%;
    vertical-align: top !important;
    color: $gray_dark;

    a {
        color: $gray_dark;

        &:active {
            color: $lotus-blue;
        }
    }

    .fancybox-close-small {
        display: none !important;
    }
}

.pop-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-pop {
    font-size: 16px;

    ul {
        padding: 0;
    }
    
    li {
        border-bottom: 1px solid $gray_light;
        height: 70px;
        display: flex;
        align-items: center;

        .icon {
            display: inline-block;
            width: 28px;
            text-align: left;
        }

        .icon-svg {
            color: $lotus-blue;
            font-size: 22px;
        }

        .btn {

            .icon-svg {
                color: $gray_dark;
            }
        }
    }

    .header-city {
        margin-right: 0;

        .link-city {
            color: $black;
            border-color: currentColor;
            font-size: 14px;

            &:active {
                color: $lotus-blue;
            }
        }
    }
}

.pop-top-wrap {
    padding: 0 40px;
}

.pop-bottom-wrap {
    background-color: $black;
    padding: 0 40px;
    color: #ffffff;
    flex-grow: 1;

    a {
        color: #ffffff;
    }
}

.menu-pop-bottom {
    font-size: 15px;

    li {
        border-bottom: 1px solid rgba(229, 229, 229, 0.15);
        margin: 0 -40px;
        padding: 0 40px;
        height: 70px;
        display: flex;
        align-items: center;

        &:last-child {
            border-bottom: 0;
        }

        .tel {
            font-weight: bold;
            margin-right: 10px;

            .icon-svg {
                font-size: 22px;
            }
        }
    }
}

/* Адаптивное меню */

/* Хлебные крошки */

.breadcrumbs {
    font-size: 14px;

    ul {
        border-top: 1px solid $gray_light;
        padding: 0;
        padding-top: 8px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -5px;
    }

    li {
        position: relative;
        margin-bottom: 5px;

        &:after {
            content: '>';
            margin-right: 6px;
            margin-left: 8px;
        }

        &:last-child {

            &:after {
                content: none;
            }
        }

        a {

            &:hover {
                border-color: currentColor;
            }
        }
    }
}

/* Хлебные крошки */

.accordion-item {

    &.opened {

        &>.visible {

            &>a {

                &>.icon-svg {
                    color: $lotus-blue;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &>.visible {

        a {
            display: flex;
            align-items: center;
            height: 38px;
            background-color: $gray_lightist;
            padding-left: 20px;
            padding-right: 12px;
            font-size: 14px;
            color: $black;
            transition: 0s;

            &:hover {
                background-color: #fff;
            }

            .icon-svg {
                margin-left: auto;
                font-size: 16px;
                transform: rotate(-90deg);
                transition: 0.3s;
            }
        }
    }

    &>.hidden {
        display: none;
        margin-top: 20px;
    }
}

.tabs-card {
    font-size: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid $gray_light;

    ul {
        padding: 0;
        display: flex;
    }

    li {

        &.active {

            a {
                color: $lotus-blue;
                background-color: #fff;

                &:before {
                    width: calc(100% + 2px);
                    visibility: visible;
                }

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        a {
            line-height: normal;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray_lighter;
            padding: 0 23px;
            color: $black;
            position: relative;
            border: 1px solid $gray_light;
            border-bottom: 0;

            &:hover {
                color: $lotus-blue;
            }

            &:before {
                content: '';
                position: absolute;
                left: -1px;
                top: -1px;
                height: 4px;
                width: 0;
                visibility: hidden;
                background-color: $lotus-blue;
                transition: 0.3s;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                height: 1px;
                width: 100%;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                z-index: 10;
            }
        }
    }
}

.tabs-card-content {

    .cat-item {

        .img {
            height: 190px;
            line-height: 190px;
        }
    }
}

.tabs-card-content-wrap {

    .card-description {
        max-height: 400px;
        padding-right: 90px;
        overflow: hidden;

        &.active {
            overflow: visible;
            max-height: none;

            &:before {
                content: none;
            }
        }

        &:before {
            content: '';
            height: 90px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 20;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
        }
    }

    .text_block {
        font-size: 14px;
    }

    .accordion-item {

        &>.visible {
            display: none;
        }

        &>.hidden {
            display: block;
            margin-top: 0;
        }
    }
}

.card-tabs-wrap {
    border-top: 1px solid $gray_light;
    margin-top: 10px;
    padding-top: 30px;
}

aside {

    .cat-item {
        border: 1px solid $gray_light;
        padding: 15px 15px 30px;

        .img {
            height: 187px;
            line-height: 187px;

            img {
                padding: 0;
            }
        }

        .descr {
            margin-top: 16px;

            .text {
                font-size: 16px;
                min-height: 1px;
            }

            .price-block {
                display: block;
                margin: 0;

                .new_price {
                    margin-right: 0;
                }
            }
        }

        .count-control-wrap {
            margin-top: 18px;
            text-align: center;

            .count-control {
                justify-content: center;

                .btn-minus,
                .btn-plus {
                    width: 40px;
                    height: 40px;
                }

                input[type="number"] {
                    height: 40px;
                }
            }

            .btn {
                margin-top: 16px;
                width: 100%;
            }
        }
    }
}

.link-show-more {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;

    &:hover {

        span {
            border-color: transparent;
        }
    }

    span {
        border-bottom: 1px dashed currentColor;
        transition: 0.15s;
    }

    .icon-svg {
        font-size: 12px;
    }
}

.dots {
    position: relative;
    background: url(/storage/icons/dots.svg) repeat-x 50% 80%;
    
    .field {
        span {
            background: #fff;
        }
    }
    
    .value {
        background: #fff;
        position: absolute;
        right: 0;
    }
}
