<template>
    <div class="d-flex position-relative justify-content-end header-primary__cart">
        <a href="/order/cart">
            <svg class="icon-svg">
                <use xlink:href="/storage/icons/icons.svg#cart" />
            </svg>
            Ваша <span>корзина</span>
            <div class="header-primary__cartCount justify-content-center">{{cart.count}}</div>
        </a>
    </div>
</template>

<script>
    import Cart from '../models/Cart';

    export default {
        data() {
            return {
                cartClass: new Cart(),

                cart: {
                    count: 0,
                    items: [],
                    price: 0,
                },
            }
        },

        mounted() {
            const vm = this;

            return vm.get();
        },

        methods: {
            get: function (productId) {
                const vm = this;

                return new Promise(resolve => {
                    let parameters = {
                        count: 1
                    };

                    vm.cartClass.get('/cart').then(response => {
                        vm.cart = response;
                    });
                });
            },

            add: function (productId, count) {
                const vm = this;

                return new Promise(resolve => {
                    let parameters = {
                        count: count
                    };

                    let url = '/cart/' + productId + '/add';

                    vm.cartClass.add(url, parameters).then(response => {
                        if (response.status === 'ok')
                        {
                            vm.cart = response.cart;
                        }
                    });
                });
            }
        },
    }
</script>
