<template>
    <div class="row mt-4">
        <div class="col-5 col-sm-4 col-lg-3">
            <div class="border rounded d-flex btn p-0">
                <div class="product-count__Item h-100 pointer py-2 count-change" v-on:click="countDown">-</div>
                <div class="product-count__Item h-100 py-2 border-left border-right shadow-inner" v-html="count"></div>
                <div class="product-count__Item h-100 pointer py-2 count-change" v-on:click="count++">+</div>
            </div>
        </div>
        <div class="col-7 col-sm-8 col-lg-9">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <button class="btn btn-lotus py-2 w-100" v-on:click="add"><i class="fas fa-shopping-basket fa-fw"></i> В корзину</button>
                </div>
                <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                    <button class="btn border border-lotus text-lotus py-2 w-100">Купить в 1 клик</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['product_id'],
        
        data() {
            return {
                count: 1,
            }
        },

        methods: {
            add: function () {
                const vm = this;
                
                window.app.$refs.cart.add(vm.product_id, vm.count);
            },
            
            countDown: function () {
                const vm = this;
                
                if (vm.count > 1) {
                    vm.count--;
                } else {
                    vm.count = 1
                }
            }
        },
    }
</script>

